# Object files
*.o

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app


main

CMakeCache.txt
CMakeFiles
Makefile
cmake_install.cmake
install_manifest.txt

src/CMakeFiles
src/appllication/CMakeFiles
src/client/CMakeFiles
src/common/CMakeFiles
src/server/CMakeFiles
src/server/Makefile
src/server/cmake_install.cmake
src/client/Makefile
src/client/cmake_install.cmake
src/application/Makefile
src/application/cmake_install.cmake
src/Makefile
